body {
    min-height: 100vh;
    margin: 0;
    background-color: #1a171d;
    color: #ff00ff;
    font-family: "Inconsolata", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    flex-direction: column;
    position: relative;
}

.intro-main h1 {
    text-decoration: underline;
    font-size: 70px;
}

.intro-main h2,
.projects h2{
    color: #ff00ff66;
}

.container {
    width: 800px;
    height: auto;
    padding: 100px;
}

.blogs a {
    color: #ff00ff;
    text-decoration: underline;
    font-size: 2rem;
    cursor: pointer;
}
.skills h1,
.projects h1,
.blogs h1 {
    text-decoration: underline;
}

.skills h2 {
    color: #ff00ff66;
}

a {
    color: #ff00ff66;
    font-size: 2rem;
    text-decoration: wavy;
    cursor: pointer;
}


.logo {
    position: fixed;
    top: 10px; 
    right: 95px; 
    width: 180px;
    height: 180px;
    
    background-color: black;
    z-index: 1500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo #logopic {
    width: 180px;
    height: 180px;
    
    object-fit: cover;        
    object-position: center;  
    display: flex;
    box-shadow: 0 0 20px 5px #ff00ff, 0 0 40px 5px #ff00ff66;
}


.horizontal-line {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100vw;
    height: 2px;
    background-color: #ff00ff;
    box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff;
    z-index: 1200;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.5s cubic-bezier(.4, 0, .2, 1);
}



.vertical-line {
    position: fixed;
    left: calc(100vw - 185px);
    top: 0;
    width: 2px;
    height: 100vh;
    background-color: #ff00ff;
    box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff;
    z-index: 1000;
    pointer-events: none;
}
